.gallery {
  position: relative;
  width: calc(100% + 26px);
  margin-left: -13px;
  overflow: hidden !important; /* InfiniteScroll самостоятельно добавляет стиль overflow: auto */
}

.masonry-grid {
  display: flex;
  width: auto;
}

.masonry-grid_column {
  margin: 0 13px; 
}
