.auth {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-width: 300px;
  height: auto;
  margin: 8% auto;
}

.auth h2 {
  text-align: center;
}

.auth form {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}

.auth button {
  align-self: center;
  background-color: #000;
  margin: 15px 0 0;
  padding: 5px 8px;
  border: 0;
  font-size: 20px;
  color: #FAFAFA;
}

.auth input[type=text], input[type=password] {
  margin: 10px;
  padding: 5px;
  border: 0;
  border-bottom: 2px solid #000;
  font-size: 20px;
  outline: none;
}

.auth-link {
  margin: 30% 0 0;
  display: flex;
  margin: auto;
}

.auth a {
  margin-left: 5px;
  color: blue;
  align-self: center;
}
