html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SF UI Display', sans-serif;
  background-color: #fff;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 115px;
  transition: transform .3s ease;
  overflow: hidden;
}

h1{
  font-size: 36px;
  margin: 50px 0;
}

.container {
  width: 80%;
  max-width: 1480px;
}

@media (max-width:768px) {
  .container {
    width: 90%;
  }
}
