.float-header {
  background-color: #000;
  color: #fff;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 80px;
  transform: translateY(-100%);
  width: 100%;
  height: 420px;
  z-index: 10;
  transition: all .3s ease;
}

.show-float-header {
  overflow: hidden;
}

.show-float-header .float-header {
  transform: translateY(0);
}

.show-float-header .navbar {
  padding-top: 40px;
}

.show-float-header main {
  -webkit-transform: translateY(420px);
  transform: translateY(420px);
  will-change: transform;  

  /* animation: jopa .3s both; */
}

@keyframes jopa {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(420px);
  }
}

.selectSearch .header-search, .selectHistory .header-history {
  display: flex;
}

.selectSearch .header-history, .selectHistory .header-search {
  display: none;
}

.selectSearch .js-btn-search:after, .selectHistory .js-btn-history:after,
.navbar-menu-item:hover:after {
  content: '';
  align-self: flex-end;
  bottom: 0;
  width: 30px;
  height: 3px;
  background-color: #fff;
}


@media (max-width:768px) {
  .float-header {
    height: 100%;
  }

  .lock-scroll {
    overflow: hidden;
  }

  .show-float-header .navbar {
    padding: 0;
  }

  .show-float-header main {
    padding-top: 90px;
  }

  .selectSearch .js-btn-search:after, .selectHistory .js-btn-history:after,
  .navbar-menu-item:hover:after  {
    height: 0;
  }
}
