.anchor {
  background-color: #fff;
  position: fixed;
  bottom: -100px;
  margin-left: 3%;
  display: flex;
  height: 48px;
  width: 48px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  cursor: pointer;
  transition: transform .4s ease;
}

.anchor-icon {
  display: flex;
  margin: auto;
}

.anchor:hover {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.3);
}

.anchor.show {
  transform: translateY(-130px);
  will-change: transform;
}

@media (max-width:768px) {
  .anchor {
    bottom: -115px;
    right: 5%;
  }
}
